
/*borders to erase*/

div {
  border: 1px solid red;
}
/*HEADER------------------------------*/

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: white;

}

header span {
  color: MediumAquamarine;
}


#logo img {
  margin-right: 10px;
}

#logo {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-left: 15px;
  flex-grow: 1;
}

nav {
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 15px;
}

a {
  color: black;
}

/* MAIN SECTION ------------------------------------------*/



.main-container {
  display: flex;
  padding-top: 80px;
  justify-content: center;
  }

.main-container .large {
  display: flex;
  width: 630px;
  flex-direction: column;
}

.main-container .medium {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.main-container .small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.four-stories {
  display: flex;
  justify-content: space-between;
}

.two-stories {
  display: flex;
  flex-direction: column;
}

.article {
  display: block;
}

.headline: {
  display: block;
}

/* text*/

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.imagestory h2 {
  color: white;
}

.main-headline {
  font-size: 40px;
  color: white;
}

h3 {

}


/* images */

.imagestory {
  height: 300px;
  display: flex;
}

.mainimage {
    background-image: url("./images/img-story-main.png");
    display: flex;
}

.imagestory .earth {
  background-image: url("./images/img-story-fall.png");
}

.imagestory .camera {
  background-image: url("./images/img-story-camera.png");
}

.imagestory .cat {
  background-image: url("./images/img-story-cat.png");
}

.newsbites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  flex-direction: column;
  display: flex;
  margin: 0;

  border-bottom: 1px solid black;

  padding: 15px;
}
/*
}




/* FOOTER------------------*/

footer {
  display: flex;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 100%;
  border: 1px solid red;
}

.title {
    border-right: 2px solid white
}

footer span {
  padding-right: 20px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.info {
  display: flex;
  align-items: center;
}

footer a {
  padding: 20px;
}

.copyright {
  display: block;
}
