

/*HEADER------------------------------*/

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
}

header span {
  color: MediumAquamarine;
}


#logo img {
  margin-right: 10px;
}

#logo {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-left: 15px;
  flex-grow: 1;
}

nav {
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 15px;
}

a {
  color: black;
}

/* MAIN SECTION ------------------------------------------*/

/* borders to erase later*/
#mother,
#orca,
#earth,
#burger,
#camera {
  border: 1px solid red;
}

#main-container {
  display: flex;
  padding-top: 80px;
  border: 2px solid blue;
}

#column-large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
