

/*HEADER------------------------------*/

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: white;
}

header span {
  color: MediumAquamarine;
}


#logo img {
  margin-right: 10px;
}

#logo {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-left: 15px;
  flex-grow: 1;
}

nav {
  margin-right: 40px;
}

nav span {
  display: inline-block;
  padding: 15px;
}

a {
  color: black;
}

/* MAIN SECTION ------------------------------------------*/

/* borders to erase later*/
#mother,
#orca,
#earth,
#burger,
#camera,
#fbi,
#cat,
#brooklyn,
#cookie,
#bites {
  border: 1px solid red;

}

#main-container {
  display: flex;
  padding-top: 80px;
  border: 2px solid blue;
  justify-content: center;
  align-items: flex-start;
}

.column {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  height: 100%;
}

.column#large {
  width: 630px;
  margin: 20px;
  display: flex;
}

.column#medium {
  width: 300px;
  margin: 20px;
  display: flex;
}

.column#small {
  width: 240px;
  margin: 20px;
  display: flex;
}
/*images*/

.headline#main {
  background-image: url("./images/img-story-main.png");
}

#earth {
  background-image: url("./images/img-story-fall.png");
}

#camera {
  background-image: url("./images/img-story-camera.png");
}

#cat {
  background-image: url("./images/img-story-cat.png");
}



/*text font editing*/
.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#cat,
#earth,
#camera .headline {
font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}


#mother .headline {
font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
